<div class="go-back">
    <a href="/">⏪️ home page</a>
</div>

<%- include ("partials/header") -%>

<div class="center">
    <h2 class="verification-msg"><%=message%></h2>
</div>

<%- include ("partials/footer") -%>
