body{
    background-color: rgb(37, 39, 40);
}

h1{
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Victor Mono', monospace;
    margin-top: 50px;
}

.bi-person{
    filter: invert(100%);
}

.align-login-image{
    position: absolute;
    right: 80px;
    top: 90px;
    text-align: center;
}

.align-login-image > p{
    color: rgb(125, 122, 122);
}

.center-register-login{
    display: flex;
    justify-content: center;
    color: gray;
    gap: 50px;
    margin-top: 100px;
}

.center-register-login > div{
    width: 35%;
    text-align: center;
}
.center-register-login > div p{
    margin: 0;
}

.center-register-login > span{
    float: right;
}

.center-register-login > div > form{
    margin-bottom: 15px;
}

.center-register-login input{
    width: 90%;
    background-color: #2c2e31;
    border: none;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(194, 191, 191);
}

.center-register-login a{
    text-decoration: none;
    color: rgb(125, 122, 122);
}



.center-register-login button{
    background-color: #2c2e31;
    border:none;
    border-radius: 10px;
    padding: 10px;
    color: rgb(213, 211, 211);  
    width: 40%;
    margin: 20px;
}

.center-register-login button:hover{
    background-color: #1c1c1d;
    
}

.go-back{
    position: absolute;
    left: 50px;    
}

.go-back > a{
    text-decoration: none;
    color: rgb(233, 191, 75);
    font-family: 'Victor Mono', monospace;
}

.reg-log-message{
    text-align: center;
    color: rgb(125, 122, 122);
}

.center{
    display: flex;
    justify-content: center;
}

.verification-msg{
    margin-top: 50px;
    color:rgb(233, 191, 75);
    font-family: 'Victor Mono', monospace;
}

.btn-link {
    background-color: red;
}

.timeOptions{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.timeOptions > *{
    text-decoration: none;
    color: gray;
}

a:hover{
    color: rgb(81, 81, 81);
}

#timer{
    color:rgb(233, 191, 75);
    text-align: center;
    margin-top: 75px;
    font-size: 4rem;
}

.typingContent{
    color: rgb(117, 116, 114);
    font-size: 2rem;
}

.container{
    margin-top: 75px;
    text-align: center;
    height: 250px;
    overflow: scroll;
    scroll-behavior: smooth;
    position: relative;
}

.container::-webkit-scrollbar{
    display: none;
  }

.correct{
    color:aliceblue;
}

.wrong{
    color: rgb(241, 64, 64);
}

#wpm{
    color:rgb(233, 191, 75);
}

.restart{
    border: none;
    font-size: 1.5rem;
    color:rgb(57, 56, 56);
    background-color: gray;
    border-radius: 10px;
}

.restart-center{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.restart:hover{
    background-color: rgb(189, 189, 189);
}

@keyframes example {
    0%{background-color: black;}
    50% {background-color: rgb(37, 39, 40);}
    100%{background-color: black;}
}

/* The element to apply the animation to */
.caret {
    /* animation-name: example;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    box-sizing: border-box; */
    background-color: rgb(0, 0, 0);
}



footer{
    color: rgb(188, 187, 184);
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(24, 23, 23);
    padding: 15px;
}

footer > div > p{
    padding: 0;
    margin: 0;
}

span{
    box-sizing: border-box;
}