body{
    background-color: rgb(37, 39, 40);
}

h1{
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Victor Mono', monospace;
    margin-top: 50px;
}

.timeOptions{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.timeOptions > *{
    text-decoration: none;
    color: gray;
}

a:hover{
    color: rgb(81, 81, 81);
}

#timer{
    color:rgb(233, 191, 75);
    text-align: center;
    margin-top: 75px;
    font-size: 4rem;
}

.typingContent{
    color: rgb(117, 116, 114);
    font-size: 2rem;
}

.container{
    margin-top: 75px;
    text-align: center;
    height: 250px;
    overflow: scroll;
    scroll-behavior: smooth;
    position: relative;
}

.container::-webkit-scrollbar{
    display: none;
  }

.correct{
    color:aliceblue;
}

.wrong{
    color: rgb(241, 64, 64);
}

#wpm{
    color:rgb(233, 191, 75);
}

.restart{
    border: none;
    font-size: 1.5rem;
    color:rgb(57, 56, 56);
    background-color: gray;
    border-radius: 10px;
}

.restart-center{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.restart:hover{
    background-color: rgb(189, 189, 189);
}

.caret{
    border-right: 2px solid rgb(241, 206, 34);
}

footer{
    color: rgb(188, 187, 184);
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(24, 23, 23);
    padding: 15px;
}

footer > div > p{
    padding: 0;
    margin: 0;
}